In [3]:
Strategy = {
    1:"QS",
    2:"ALS",
    3:"VS",
    4:"MR",
    5:"AO",
    6:"CG",
    7:"CC",
    8:"LC",
    9:"IT",
    10:"NA",
}

Curriculum_Area = {
    1:"read/lit",
    2:"math",
    3:"spell",
    4:"hand",
    5:"science",
    6:"soc sci",
    7:"health",
    8:"PE",
    9:"Music",
    10:"Art",
    11:"Lang",
    12:"Compos",
    13:"Non-ac",
    14:"ESL",
}

Physical_Group = {
    1:"TC",
    2:"LG",
    3:"SG",
    4:"Pairs",
    5:"Single",
}

Activity_Structure = {
    1:"lec/lis",
    2:"lec/per",
    3:"dir/lis",
    4:"dir/per",
    5:"dem/lis",
    6:"led/per",
    7:"ask/per",
    8:"ask/ans",
    9:"ans/ask",
    10:"ev/per",
    11:"obs/per",
    12:"ev/dis",
    13:"ev/cop",
    14:"obs/dis",
    15:"obs/cop",
    16:"NA/free",
    17:"NA/feed",
    18:"NA/tran",
    19:"NA/int",
    20:"NA/out",
    21:"interact",
}

Mode = {
    1:"writing",
    2:"reading",
    3:"aural",
    4:"verbal",
    5:"wr-re",
    6:"wr-au",
    7:"wr-ver",
    8:"re-wr",
    9:"re-au",
    10:"re-ver",
    11:"au-wr",
    12:"au-re",
    13:"ver-wr",
    14:"ver-re",
    15:"ver-au",
    16:"au-re-ver",
    17:"NA",
    18:"au-ver",
}

Language_Content = {
    1:"social",
    2:"academic",
    3:"light cog",
    4:"dns cog",
}

Lang_of_Instruction_Teacher = {
    1:"L1",
    2:"L2",
    3:"L1-2",
    4:"L2-1",
    5:"NA",
}

Lang_of_Instruction_Student = {
    1:"L1",
    2:"L2",
    3:"L1-2",
    4:"L2-1",
    5:"NA",
}

Protocol = {
    "Strategy":Strategy,
    "Curriculum_Area":Curriculum_Area,
    "Physical_Group":Physical_Group,
    "Activity_Structure":Activity_Structure,
    "Mode":Mode,
    "Language_Content":Language_Content,
    "Lang_of_Instruction_Teacher":Lang_of_Instruction_Teacher,
    "Lang_of_Instruction_Student":Lang_of_Instruction_Student,
}

In [14]:
import pandas as pd

xl = pd.ExcelFile("/tamu_hw/csce_fall2021/csce606/ILOI/src/data/sample_csag.xlsx")
df = xl.parse('Data', skiprows=2, index_col=None, parse_cols = 'A:U')
df.head()

,Timepoint,School,Teacher,Condition,Obs. Entry,ESL Strategy,ESL Strategy.1,Curriculum,Physical Group,Physical Group.1,...,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33
0,:00-:20,6022,60222,2,1,10,NaN,14,1,TC=total class,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,:20-:40,6022,60222,2,2,3,visual scaffolding,14,1,TC=total class,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,:40-1:00,6022,60222,2,3,3,visual scaffolding,14,1,TC=total class,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1:00 - 1:20,6022,60222,2,4,3,visual scaffolding,14,1,TC=total class,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1:20-1:40,6022,60222,2,5,4,manipulatives/realia,14,5,S=single,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN